
  <%- include ('partials/head') %>

  <body class="min-width: 372px">
    <%- include ('partials/nav') %>
    <%- include ('partials/header') %>
    <%- include ('partials/listProducts') %>
    <%- include ('partials/footer') %>
    <%- include ('partials/scripts') %>
  </body>