<%- include partials/head%>
  <body style="min-width: 372px;" >
    <nav>
      <%- include partials/nav%>
    </nav>
    <header>
      <%- include partials/header%>
    </header>
    <main>
      <%- include produto/listagem%>
    </main>

    <footer>
      <%- include partials/footer%>
    </footer>
    <%- include partials/scripts%>
  </body>
</html>